*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background-color: rgb(186, 208, 213);
}
h1{
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
}
.form-container{
    text-align: center;
}
form{
    background-color: white;
    display: inline-block;
    padding: 60px 100px;
    border-radius: 5px;
    width: 300px;
}

form label{
    display: block;
    color: #5352ed;
    font-size: 13px;
    font-weight: bold;
    margin: 5px 0;
    width: 100%;
    text-align: left;
}

button{
    width: 100%;
    background-color: #5352ed;
    color: white;
    border: 0;
    border-radius: 4px;
    margin-top: 10px;
    padding: 7px 0;
}
form input{
    padding: 3px 0;
    border-radius: 3px;
    border: 1px solid rgba(217, 217, 217, 0.5);
    width: 100%;
    
}
